.header-flowers-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  background-color: #FFF;
  box-shadow: 0 0 24px rgba(72, 22, 93, 0.15);
  opacity: 0;
  // transform: translateY(-100%);
  transition: all .4s;

  &.is-active {
    opacity: 1;
    // transform: translateY(0);
    // box-shadow: 0 0 24px rgba(72, 22, 93, 0.15);
  }
}
