.wa-forgotpassword-form-wrapper {
  margin: 64px 0 36px 0;
  & input[type="text"] {
    width: 100% !important;
    margin-bottom: 64px;
    height: 100%;
    max-height: 50px;
    padding: 20px !important;
    font-size: 16px;
    font-weight: 300;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px solid #F3F4F5 !important;
    appearance: none;
    -webkit-appearance: none;
    transition: .25s;
    border-radius: 0;
    &:focus, &:active {
      border-color: $c-main !important;
      transition: .4s !important;
    }
  }
}
.wa-forgotpassword-button {
  width: 100%;
}
 .wa-forgotpassword-form-actions > .wa-login-url {
  text-align: center;
}
