.wedding-pack {
  background-color: #FFF;
  overflow: hidden;
}

.wedding-pack__img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50%;
  height: 280px;
  min-height: 280px;
  max-height: 280px;

  @media ($m-s) {
    height: 437px;
    min-height: 437px;
    max-height: 437px;
  }
}

.wedding-pack__content {
  padding: 24px;
}

.wedding-pack__title {
  font-size: 24px;
  line-height: 1.25em;
  font-weight: 500;
  max-height: 45px;
  overflow: hidden;

  @media ($m-s) {
    font-size: 36px;
  }
}

.wedding-pack__caption {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.25em;
  color: #858B93;

  @media ($m-s) {
    min-height: 80px;
    overflow: hidden;
  }
}

.wedding-pack__price {
  display: flex;
  margin-top: 24px;
  align-items: flex-end;

  & > span {
    &:first-child {
      font-family: $f-secondary;
      font-size: 36px;
      line-height: 1em;
      font-weight: 700;
    }

    &:last-child {
      margin-left: 8px;
      font-size: 24px;
      line-height: 1em;
      color: #858B93;
    }
  }
}

.wedding-pack__btn {
  width: 100%;
  height: 56px;
  font-size: 14px;
  line-height: 56px;
}
