.news-item__inner {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media ($m-l) {
      flex-wrap: nowrap;
  }

}

.news-item__content {
  width: 100%;
  border: 1px solid #F5F5F5;
  background-color: #fff;
}

.news-item__sidebar {
    display: none;

    @media ($m-s) {
        display: flex;
        flex-wrap: wrap;
    }

    @media ($m-l) {
        display: block;
    }
}

.news-item__content-pic {

    &>img {
        width: 100%;
    }
}

.news-item__content-info {
    padding: 30px 20px 20px 20px
}

.news-item__card {
    width: 33.33%;
    padding: 40px 20px 50px 20px;
    background-color: #fff;
    border: 1px solid #F5F5F5;

    @media ($m-l) {
        width: 360px;
    }
}

.news-item__content-title {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;

    @media ($m-m) {
        max-width: 65%;
        line-height: 47px;
        font-size: 40px;
    }
}

.news-item__content-subtitle {
    padding-top: 10px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
}

.news-item__content-text {
    padding: 30px 0;
    font-family: Gotham Pro;
    line-height: 26px;
    font-size: 18px;
    text-align: left;

    @media ($m-s) {
        max-width: 80%;
    }
}

.news-item__card-title {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;

    @media ($m-s) {
        text-align: left;
    }


    @media ($m-m) {
        max-width: 100%;
        line-height: 24px;
        font-size: 20px;

    }
}

.news-item__card-subtitle {
    padding-top: 10px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;

    @media ($m-s) {
      text-align: left;
    }
}

.news-item__card-text {
    padding: 30px 0;
    font-family: Gotham Pro;
    line-height: 26px;
    font-size: 18px;
    text-align: center;

    @media ($m-s) {
      max-width: 100%;
      text-align: left;

      & > p {
        min-height: 204px;
      }
    }
}


.news-item__arrow {
  
    &.is-disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
  
  .news-item__arrow-btn {
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: .2s;
  
    &:hover {
      color: $c-red;
    }
  }

.news-item__content-share {

  & .share {
    flex-wrap: wrap;

    @media ($m-s) {
      flex-wrap: nowrap;
    }
  }
}